---
import Slider from './Slider.svelte';
import Specs from './Specs.astro';
import Features from './Features.astro';
import VirtualTour from './VirtualTour.astro';
const { model } = Astro.props;
---

<section>
  <div class="mx-auto flex max-w-[810px] flex-col px-5 py-20">
    <h1
      class="mb-16 text-center font-heading text-3xl font-bold text-black-400 sm:text-5xl"
    >
      {model?.name}
    </h1>
    <div class="mb-32 w-full">
      <Slider client:idle images={model?.sliderImages} />
    </div>
    <Specs
      beds={model.beds}
      bathrooms={model?.bathrooms}
      lotArea={model?.lotArea}
      squareFootage={model?.squareFootage}
    />
    <Features features={model?.features} brochure={model?.brochure} />
    <div class="mt-20 mb-10">
      <p class="text-center text-[22px]">
        Contact us using the form below to find out more about<br />
        {model?.name}
      </p>
    </div>
  </div>
  <div class="">
    {
      model?.virtualTourLink && (
        <VirtualTour virtualTour={model?.virtualTourLink} />
      )
    }
  </div>
</section>
