---
import { Image } from '@astrojs/image/components';
import Button from '../Buttons/Button.astro';
const { header } = Astro.props;

const pressKit = header.pressKit;
const pressInquiries = header.pressInquiries;
---

<header>
  <div class="flex flex-col items-center gap-10 py-20 px-5">
    <div
      class="grid-col-1 grid w-full max-w-[500px] items-center rounded-xl shadow-3xl md:max-w-[1000px] md:grid-cols-2"
    >
      <div class="flex flex-col items-center p-6 sm:p-8">
        <h1
          class="mb-4 text-center font-heading text-3xl font-bold text-black-300 sm:text-5xl"
        >
          {pressKit.heading}
        </h1>
        <div
          class="mb-5 text-center text-xl leading-relaxed sm:mb-10 [&>p>a]:text-red"
          set:html={pressKit.body}
        />
        <Button
          href={pressKit.buttonLink}
          text={pressKit.buttonText}
          blank
          large
        />
      </div>

      <Image
        src={pressKit.image.sourceUrl}
        alt={pressKit.image.altText}
        width={500}
        aspectRatio={4 / 3.5}
        format="webp"
        fit="cover"
        position="center"
        background="transparent"
        class="rounded-b-xl md:rounded-r-xl md:rounded-bl-none w-full object-cover"
      />
    </div>

    <div
      class="grid-col-1 grid w-full max-w-[500px] items-center rounded-xl shadow-3xl md:max-w-[1000px] md:grid-cols-2"
    >
      <div class="flex flex-col items-center p-6 sm:p-8">
        <h1
          class="mb-4 text-center font-heading text-3xl font-bold text-black-300 sm:text-5xl"
        >
          {pressInquiries.heading}
        </h1>
        <div
          class="inline-block text-center text-xl leading-relaxed [&>p>a]:break-all [&>p>a]:text-base [&>p>a]:text-red [&>p>a]:sm:text-xl"
          set:html={pressInquiries.body}
        />
      </div>

      <Image
        src={pressInquiries.image.sourceUrl}
        alt={pressInquiries.image.altText}
        width={500}
        aspectRatio={16 / 9}
        format="webp"
        fit="contain"
        position="center"
        background="transparent"
      />
    </div>
  </div>
</header>
