---
import { Image } from '@astrojs/image/components';
import Button from '../Buttons/Button.astro';
const { header } = Astro.props;

const pressKit = header.pressKit;
const pressInquiries = header.pressInquiries;
---

<header>
  <div class="py-20 px-5 flex flex-col items-center gap-10">
    <div
      class="w-full max-w-[500px] md:max-w-[1000px] shadow-3xl grid grid-col-1 md:grid-cols-2 items-center rounded-xl"
    >
      <div class="p-4 sm:p-8 flex flex-col items-center">
        <h1
          class="font-bold font-heading text-3xl sm:text-5xl text-black-300 text-center mb-4"
        >
          {pressKit.heading}
        </h1>
        <div
          class="text-center text-xl mb-5 sm:mb-10 [&>p>a]:text-red leading-relaxed"
          set:html={pressKit.body}
        />
        <Button
          href={pressKit.buttonLink}
          text={pressKit.buttonText}
          blank
          large
        />
      </div>
      <div class="h-full">
        <Image
          src={pressKit.image.sourceUrl}
          alt={pressKit.image.altText}
          width={500}
          aspectRatio={4 / 3}
          format="webp"
          fit="cover"
          position="center"
          background="transparent"
          class="rounded-b-xl md:rounded-r-xl md:rounded-bl-none h-full object-cover w-full"
        />
      </div>
    </div>

    <div
      class="w-full max-w-[500px] md:max-w-[1000px] shadow-3xl grid grid-col-1 md:grid-cols-2 items-center rounded-xl"
    >
      <div class="p-4 sm:p-8 flex flex-col items-center">
        <h1
          class="font-bold font-heading text-3xl sm:text-5xl text-black-300 text-center mb-4"
        >
          {pressInquiries.heading}
        </h1>
        <div
          class="text-center text-xl [&>p>a]:text-red leading-relaxed [&>p>a]:break-all inline-block [&>p>a]:text-base [&>p>a]:sm:text-xl"
          set:html={pressInquiries.body}
        />
      </div>
      <div class="h-full">
        <Image
          src={pressInquiries.image.sourceUrl}
          alt={pressInquiries.image.altText}
          width={500}
          aspectRatio={16 / 9}
          format="webp"
          fit="contain"
          position="center"
          background="transparent"
          class="rounded-b-xl md:rounded-r-xl md:rounded-bl-none h-full object-contain w-full"
        />
      </div>
    </div>
  </div>
</header>
