---
import Button from '../Buttons/Button.astro';
const { header } = Astro.props;
---

<header>
  <div
    style={`background-image:  linear-gradient(
      90deg,
      rgba(5, 5, 5, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ), url('${header.image.sourceUrl}')`}
    class="bg-center w-full"
  >
    <div
      class="flex flex-col items-center max-w-6xl mx-auto py-20 sm:py-40 px-5 w-full text-white"
    >
      <div class="mb-16 text-center">
        <h1
          class="font-heading font-bold text-4xl sm:text-5xl text-shadow-lg drop-shadow-md leading-relaxed sm:leading-relaxed text-center"
        >
          {header.heading}
        </h1>
        <h2 class="text-lg text-white text-center">{header.subHeading}</h2>
      </div>
      <div class="max-w-[600px] text-center">
        <p class="text-xl sm:text-2xl text-white mb-10">{header.body}</p>
        <Button href={header.buttonLink} text={header.buttonText} large />
      </div>
    </div>
  </div>
</header>
