---
import Disclaimer from './disclaimer.astro';
import Table from './Table.astro';
import DownloadForm from './DownloadForm/index.astro';
const {
  bungalows,
  loftedBungalows,
  twoStoreys,
  bungalowTownTris,
  bungalowTownSemis,
  disclaimer,
  downloadForm,
} = Astro.props;
---

<div class="mx-auto flex w-full flex-col items-center gap-20 py-10 px-5">
  <section
    class="w-full max-w-[820px] overflow-x-scroll table-scroll:overflow-auto"
  >
    <h2 class="mb-5 font-heading text-3xl font-bold">Bungalows</h2>
    <Table models={bungalows} />
  </section>
  <section
    class="w-full max-w-[820px] overflow-x-scroll table-scroll:overflow-auto"
  >
    <h2 class="mb-5 font-heading text-3xl font-bold">Bungalows + Lofts</h2>

    <Table models={loftedBungalows} />
  </section>

  <section
    class="w-full max-w-[820px] overflow-x-scroll table-scroll:overflow-auto"
  >
    <h2 class="mb-5 font-heading text-3xl font-bold">2 Storeys</h2>
    <Table models={twoStoreys} />
  </section>

  <section
    class="w-full max-w-[820px] overflow-x-scroll table-scroll:overflow-auto"
  >
    <h2 class="mb-5 font-heading text-3xl font-bold">Bungalow Semi</h2>
    <Table models={bungalowTownSemis} />
  </section>

  <section
    class="w-full max-w-[820px] overflow-x-scroll table-scroll:overflow-auto"
  >
    <h2 class="mb-5 font-heading text-3xl font-bold">Bungalow Tri</h2>
    <Table models={bungalowTownTris} />
  </section>
  <Disclaimer disclaimer={disclaimer} />
  <DownloadForm downloadForm={downloadForm} />
</div>
