---
import Button from '../Buttons/Button.astro';
import { Image } from '@astrojs/image/components';
const { middleCta } = Astro.props;

const cottage = middleCta.cottageStyleHome;
const story = middleCta.storyOfWatercolour;
---

<section>
  <div
    class="mx-auto flex max-w-[1200px] flex-col items-center gap-10 py-20 px-5 sm:px-20"
  >
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-2 lg:gap-20">
      <div class="">
        <Image
          src={cottage.image.sourceUrl}
          alt={cottage.image.altText}
          width={500}
          aspectRatio={4 / 3}
          format="webp"
          fit="cover"
          position="center"
          background="transparent"
          class="w-full h-auto"
        />
      </div>
      <div class="">
        <h2 class="mb-3 font-heading text-3xl font-bold sm:text-5xl">
          {cottage.heading}
        </h2>
        <div class="mb-5 text-2xl text-black-200" set:html={cottage.body} />

        <div class="flex w-full flex-col items-center gap-5">
          {
            cottage.buttons.map((button: any) => {
              return (
                <Button
                  large
                  text={button.buttonText}
                  href={button.buttonLink}
                />
              );
            })
          }
        </div>
      </div>
    </div>
  </div>

  <div
    class="mx-auto flex max-w-[1200px] flex-col items-center gap-20 py-20 px-5 sm:px-20"
  >
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-2 lg:gap-20">
      <div class="">
        <Image
          src={story.image.sourceUrl}
          alt={story.image.altText}
          width={500}
          aspectRatio={4 / 3}
          format="webp"
          fit="cover"
          position="center"
          background="transparent"
          class="w-full h-auto"
        />
      </div>
      <div class="">
        <div
          class="mb-5 text-xl text-black-200 [&>p]:mb-2 [&>p>a]:text-red"
          set:html={story.body}
        />

        <div class="flex w-full flex-col items-center gap-5">
          <Button large text={story.buttonText} href={story.buttonLink} />
        </div>
      </div>
    </div>
  </div>
</section>
