---
import { Image } from '@astrojs/image/components';
interface FeatureImage {
  sourceUrl: string;
  altText: string;
}

interface Feature {
  heading: string;
  body: string;
  icon: FeatureImage;
}

const { features } = Astro.props;
---

<section>
  <div class="mx-auto flex max-w-[1080px] flex-col items-center py-20 px-5">
    <div class="mb-16 text-center">
      <h2
        class="mb-4 font-heading text-3xl font-bold text-black-200 sm:text-5xl sm:leading-relaxed"
      >
        {features.sectionHeading}
      </h2>
      <p class="text-xl leading-relaxed sm:text-3xl">{features.body}</p>
    </div>
    <div
      class="grid w-full grid-cols-1 justify-items-center gap-10 sm:grid-cols-2 lg:grid-cols-4"
    >
      {
        features.feature.map((feature: Feature) => {
          return (
            <div class="flex max-w-[400px] flex-col items-center">
              <Image
                src={feature.icon.sourceUrl}
                alt={feature.icon.altText}
                width={150}
                aspectRatio={1 / 1}
                format="webp"
                fit="contain"
                position="center"
                background="transparent"
                class="mb-5"
              />
              <h3 class="font-heading text-black-200 mb-2 text-center text-2xl font-bold">
                {feature.heading}
              </h3>

              <div
                class="[&>p>a]:text-red text-center text-xl"
                set:html={feature.body}
              />
            </div>
          );
        })
      }
    </div>
  </div>
</section>
